<mat-toolbar color="secondary">
  <h2>Star Wars Characters</h2>
</mat-toolbar>

<mat-list>
  <mat-list-item *ngFor="let character of characters">
    <h3 matListItemTitle>{{ character.name }}</h3>
    <p matListItemLine>Height: {{ character.height }}</p>
    <p matListItemLine>Weight: {{ character.mass }}</p>
    <p matListItemLine>Hair Color: {{ character.hair_color }}</p>
    <p matListItemLine>Skin Color: {{ character.skin_color }}</p>
    <p matListItemLine ngSwitch="{{ character.eye_color }}">
      Eye Color:
      <span *ngSwitchCase="'blue'" [style.color]="'blue'">{{
        character.eye_color
      }}</span>
      <span *ngSwitchCase="'yellow'" [style.color]="'yellow'" [style.background]="'black'">{{
        character.eye_color
      }} </span>
      <span *ngSwitchCase="'red'" [style.color]="'red'">{{
        character.eye_color
      }}</span>
      <span *ngSwitchCase="'brown'" [style.color]="'brown'">{{
        character.eye_color
      }}</span>
      <span *ngSwitchCase="'orange'" [style.color]="'orange'">{{
        character.eye_color
      }}</span>
      <span *ngSwitchDefault>unknown</span>
    </p>
    <p matListItemLine>Birth Date: {{ character.birth_year }}</p>
    <p matListItemLine>Gender: {{ character.gender }}</p>
  </mat-list-item>
</mat-list>


